@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #FCA3FC;
}

a {
    text-decoration: none;
}

a:visited{
    color: none;
    text-decoration: none;
}

body{
	background: black;
    font-family: "Playfair Display";
}

#background {
	width: 90%;
    left: -26%;
    top: -13%;
    z-index: -1;
    position: fixed;
    opacity: 0.4;
}

#Bungalo {
    width: 27%;
	padding: 25px 25px 15px 25px;
}

.navbar {
    text-align: center;
    font: bold 1.6em "Playfair Display";
    word-spacing: 60px;
    padding: 15px;
}

.navbar ul{
    display: inline-block;
    list-style: none;
    padding: 0;
}

.navbar li{
    display: inline;
}

.navbar a {
    text-decoration: line-through;
}

.navbar a:hover{
    color: #3D003D;
    transition: .2s;
}

.nardoandvid {
	position: relative;
    padding-bottom: 26%;
    margin: 80px;
}

.nardo {
	margin: auto;
    position: absolute;
    left: 47%;
    top: 23%;
    width: 28%;
}

iframe { 
    display: block;
    margin: 0 auto;
    border: #FCA3FC 2px solid;
    width: 80%;
}

#mitti {
	width: 35%;
	padding: 25px;
}

.section {
	padding-bottom: 8%;
}
 
.header {
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
    padding: .9%;
}

.subtext {
    text-align: center;
    font-size: .85em;
    margin-left: 40%;
    margin-right: 40%;
}

.addtocart {
    font-size: 1.3em;
    border: solid;
    border-color: #FCA3FC;
    text-align: center;
    padding: 8px 20px 8px 20px;
	width: 125px;
	margin: auto;
	display: block;
	transition: 0.2s;
}

.addtocart:hover {
	background: #FCA3FC;
	color: black;
}

.soundcloud-iframe {
    height: 500px;
}

#music-section {
    margin: auto;
    width: 56%;
}
.video {
	display: block;
    margin: auto;
    border: solid;
    position: absolute;
    left: 26%;
    border-color: #dc94f3;
    width: 27%;
    height: 78%;
}

.center {
	display: block;
	margin: auto;
}

.left {
	display: inline-block;
	margin: 5%;
	padding: 20px;
	width: 28%;
}

@media only screen and (max-width: 370px) {
	#bg {
		width: 100%;
	}
}