@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Raleway:400');
/* _____________________________________ */
/* _____________________________________ */
/* __________GENERAL STYLING____________ */
/* _____________________________________ */

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3D003D; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(173, 0, 173); 
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 0, 41); 
}

* {
    padding: 0;
    margin: 0;
    color: #FCA3FC;
}

a {
    text-decoration: none;
}

body{
    /* overflow: hidden; */
	background: black;
    font-family: "Raleway";
}

#main-content {
    display: none;
}

.icon-grid {
    display: grid;
    grid-template-columns: 75% 25%;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    
    #main-content {
        display: none;
    }

    #background {
        will-change: transform;
        width: 90%;
        left: -26%;
        top: -13%;
        z-index: -1;
        position: fixed;
        opacity: 0.4;
        /*transition: transform 700ms ease-in-out;*/
        pointer-events: none;
    }
    
    #Bungalo {
        width: 40%;
    }
    
    .section {
        padding-bottom: 8%;
    }

    .section img {
        width: 5%;
    }

    #stream-section {
        display: inline-block;
        text-align: center;
    }
    
    .stream-pic {
        display: inline-block;
        width: 1000px;
    }
    
    #cover {
        padding-top: 20px;
        width: 50%;
    }

    .header {
        text-align: center;
        font-size: 4em;
        font-weight: 600;
        padding: .5%;
    }

    .subtext {
        text-align: center;
        font-size: 1.1em;
    }

    .center {
        display: block;
        margin: auto;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    #background {
        will-change: transform;
        width: 90%;
        left: -26%;
        top: -13%;
        z-index: -1;
        position: fixed;
        opacity: .4;
        /*transition: transform 700ms ease-in-out;*/
        pointer-events: none;
    }
    
    #Bungalo {
        width: 75%;
        padding: 25px 25px 15px 25px;
    }
    
    .section {
        padding-bottom: 8%;
    }
    
    .section img {
        width: 15%;
    }

    #spotlight-section {
        text-align: center;
    }
    
    #release-section1 {
        display: inline-block;
    }

    .stream-pic {
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        width: 40%;
    }
    
    .center {
        display: block;
        margin: auto;
    }
    
    #cover {
        width: 66%;
        padding: 25px;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}