@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Raleway:400');
/* _____________________________________ */
/* _____________________________________ */
/* __________GENERAL STYLING____________ */
/* _____________________________________ */

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3D003D; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(173, 0, 173); 
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 0, 41); 
}

* {
    padding: 0;
    margin: 0;
    color: #FCA3FC;
}

a {
    text-decoration: none;
}

body{
    /* overflow: hidden; */
	background: black;
    font-family: "Raleway";
}

.center {
    display: block;
    margin: auto;
}

#main-content {
    display: none;
}

#cover, #cover_small {
    display: none;
}

@media only screen and (min-width: 1245px) {

    #cover {
        display: block;
    }

    #background {
        will-change: transform;
        width: 90%;
        left: -26%;
        top: -13%;
        z-index: -1;
        position: fixed;
        opacity: 0.75;
        /*transition: transform 700ms ease-in-out;*/
        pointer-events: none;
    }

    .menu { 
        display: block;
    }
    
    #Bungalo {
        width: 28%;
    }
    
    .section {
        padding-bottom: 8%;
    }

    .section img {
        width: 5%;
    }

    #stream-section {
        display: inline-block;
        text-align: center;
    }

    .cover-icon-grid {
        display: grid;
        grid-template-columns: 85% 15%;
    }

    .stream-icon {
        padding-top: 5%;
    }

    #cover {
        width: 100%;
    }

    .desktop-center {
        width: 35%;
        padding-left: 4.75%;
        padding-top: 1%;
    }
    
    .fab {
        font-size: 3.3vw; /* lit */
        padding-top: 4%;
    }

    .icon-grid-desktop {
        display: grid;
        text-align: center;
    }

    .header {
        text-align: center;
        font-size: 4.5vw;
        font-weight: 600;
    }

    .subtext {
        text-align: center;
        font-size: 1.25vw;
    }

    .icon-grid-mobile {
        display: none; 
    }
}

@media only screen and (min-width: 768px) and (max-width: 1244px){
    /* tablets and desktop */

    #cover_small {
        display: block;
    }

    #background {
        will-change: transform;
        width: 90%;
        left: -26%;
        top: -13%;
        z-index: -1;
        position: fixed;
        opacity: 0.75;
        /*transition: transform 700ms ease-in-out;*/
        pointer-events: none;
    }
    
    #Bungalo {
        width: 40%;
    }
    
    .section {
        padding-bottom: 8%;
    }

    .section img {
        width: 5%;
    }

    #stream-section {
        display: inline-block;
        text-align: center;
    }

    .cover-icon-grid {
        display: grid;
        grid-template-columns: 85% 15%;
    }

    .stream-icon {
        padding-top: 5%;
    }

    #cover_small {
        width: 100%;
    }

    .desktop-center {
        width: 50%;
        padding-left: 7%;
        padding-top: 2%;
    }
    
    .fab {
        font-size: 4.20vw; /* lit */
        padding-top: 4%;
    }

    .icon-grid-desktop {
        display: grid;
        text-align: center;
    }

    .header {
        text-align: center;
        font-size: 8vw;
        font-weight: 600;
    }

    .subtext {
        text-align: center;
        font-size: 2vw;
    }

    .icon-grid-mobile {
        display: none; 
    }
}

@media only screen and (max-width: 767px){
    /* phones */

    #cover_small {
        display: block;
    }

    #background {
        will-change: transform;
        width: 170%;
        left: -35%;
        top: 1%;
        z-index: -1;
        position: fixed;
        opacity: 0.75;
        /*transition: transform 700ms ease-in-out;*/
        pointer-events: none;
    }
    
    #Bungalo {
        width: 75%;
        padding: 3% 1% 3% 1%;
    }
    
    .section {
        padding-bottom: 8%;
    }
    
    .section img {
        width: 15%;
    }

    #spotlight-section {
        text-align: center;
    }
    
    #release-section1 {
        display: inline-block;
        width: 100%;
    }

    .stream-pic {
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        width: 40%;
    }
        
    #cover_small {
        width: 66%;
        padding-bottom:2%;
    }

    #cover {
        width: 100%;
        padding-bottom:2%;
    }

    .header {
        text-align: center;
        font-size: 10vw;
        font-weight: 600;
    }

    .subtext {
        text-align: center;
        font-size: 2.9vw;
        padding-bottom: 4%;
    }

    .icon-grid-desktop {
        display: none;
    }
    
    .icon-grid-mobile {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-right: 8%;
        padding-left: 6%;
    }

    .stream-icon {
        padding: 8%;
    }

    .fab {
        font-size: 19vw;
    }
    
}