@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Raleway:400');
/* _____________________________________ */
/* _____________________________________ */
/* __________GENERAL STYLING____________ */
/* _____________________________________ */

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3D003D; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(173, 0, 173); 
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(41, 0, 41); 
}

* {
    padding: 0;
    margin: 0;
    color: #FCA3FC;
}

a {
    text-decoration: none;
}

body{
    /* overflow: hidden; */
	background: black;
    font-family: "Raleway";
}

.center {
    display: block;
    margin: auto;
}

.menu { 
    display: block;
}

#main-content {
    display: none;
}

#cover, #cover-small {
    display: none;
}

.spacing-offset {
    padding: 2%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: .8em;
    opacity: .5;
}

/* _____________________________________ */
/* _____________________________________ */
/* __________MEDIA QUERIES______________ */
/* _____________________________________ */

@media only screen and (min-width: 1170px) {

    /* WATER/HEAT RELEASE SECTION */

    .emoji-container {
        margin: 0;
        position: absolute;
        height: 75em;
        /* width: 100vw; */
        width: 100%;
        /* top: 8.25vw;
        left: -8vw; */
        top: 19.25vw;
        overflow:hidden;
    }

    .emoji-button {
        position: relative;
        border-radius: 50%;
        height: 50%;
        padding: .5em;
        opacity: 0.5;
        left: 16.5vw;
    }

    .emoji-button:hover {
        opacity: 1;
        cursor: pointer;
    }

    .emoji-button.selected {
        opacity: 1;
    }

    #fire-video {
        display: block;
    }

    #water-video {
        display: none;
    }

    .fire-color{
        color: #ffca37;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
        
    .water-color{
        color: #8de4ff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    /* GENERAL RELEASE SECTION */

    #cover {
        display: block;
    }

    #background {
        will-change: transform;
        width: 90%;
        left: -26%;
        top: -13%;
        z-index: -1;
        position: fixed;
        opacity: 0.75;
        /*transition: transform 700ms ease-in-out;*/
        pointer-events: none;
    }
    
    #Bungalo {
        width: 20%;
        padding: 1vw;
    }

    .social-panel-mobile {
        display: none;
    }
    
    .social-panel-desktop {
        position: fixed;
        right: 10px;
        top: 10px;
        margin: .5em .5em 0 0;
        padding: .5em;
        /* border: 1px solid #FCA3FC;
        border-radius: 4px; */
    }

    .social-icon.fab {
        font-size: 20px;
        padding: 0 .375em 0 .375em;
    }

    .section {
        padding-top: 1%;
        padding-bottom: 8%;
    }

    .section img {
        width: 5%;
    }

    #stream-section {
        display: inline-block;
        text-align: center;
    }

    .music-video {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .header-closer {
        text-align: left;
        font-size: 1vw;
        font-weight: 600;
        align-self: center;
    }

    .icon-flex-desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .icon-flex-desktop .stream-icon {
        padding: 1.75vw 3vw;
    }

    .cover-icon-grid {
        display: grid;
        grid-template-columns: 85% 15%;
    }

    #cover {
        width: 100%;
    }

    .desktop-center {
        width: 35%;
        padding-left: 4.75%;
        padding-top: 1%;
    }
    
    .desktop-center-video {
        position: relative;
        width: 50%;
        height: 0px;
        padding-top: 1%;
        padding-bottom: 27.125%;
    }

    .desktop-center-video-icons {
        position: relative;
        width: 50%;
        height: 0px;
        padding-top: 1%;
    }

    .fab {
        font-size: 3.3vw; /* lit */
        padding-top: 4%;
    }

    .icon-grid-desktop {
        display: grid;
        text-align: center;
        align-items: center;
    }

    .header {
        text-align: center;
        font-size: 4.5vw;
        font-weight: 600;
    }

    .subtext {
        text-align: center;
        font-size: 1.25vw;
    }

    .icon-flex-mobile {
        display: none; 
    }

    .mobile-center-video {
        display: none;
    }

    .header-mobile {
        display: none;
    }

    .subtext-mobile {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1169px){
    /* tablets and desktop */

    #cover-small {
        display: block;
    }

    #background {
        will-change: transform;
        width: 90%;
        left: -26%;
        top: -13%;
        z-index: -1;
        position: fixed;
        opacity: 0.75;
        /*transition: transform 700ms ease-in-out;*/
        pointer-events: none;
    }
    
    #Bungalo {
        width: 40%;
        padding: 1vw;
    }
    
    .social-panel-mobile {
        display: none;
    }

    .social-panel-desktop {
        position: fixed;
        right: 10px;
        top: 10px;
        margin: .5em .5em 0 0;
        padding: .5em;
    }

    .social-icon.fab {
        font-size: 20px;
        padding: 0 .375em 0 .375em;
    }

    .section {
        padding-bottom: 8%;
    }

    .section img {
        width: 5%;
    }

    #stream-section {
        display: inline-block;
        text-align: center;
    }

    .music-video {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .header-closer {
        text-align: left;
        font-size: 1vw;
        font-weight: 600;
        align-self: center;
    }

    .icon-flex-desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .icon-flex-desktop .stream-icon {
        padding: 1.75vw 3vw;
    }

    .cover-icon-grid {
        display: grid;
        grid-template-columns: 85% 15%;
    }

    #cover-small {
        width: 100%;
    }

    .desktop-center {
        width: 50%;
        padding-left: 7%;
        padding-top: 2%;
    }

    .desktop-center-video {
        position: relative;
        width: 50%;
        height: 0px;
        padding-top: 1%;
        padding-bottom: 27.125%;
    }

    .desktop-center-video-icons {
        position: relative;
        width: 50%;
        height: 0px;
        padding-top: 1%;
    }
    
    .fab {
        font-size: 4.20vw; /* lit */
        padding-top: 4%;
    }

    .icon-grid-desktop {
        display: grid;
        text-align: center;
    }

    .header {
        text-align: center;
        font-size: 8vw;
        font-weight: 600;
    }

    .subtext {
        text-align: center;
        font-size: 2vw;
    }

    .icon-flex-mobile {
        display: none; 
    }

    .mobile-center-video {
        display: none;
    }

    .header-mobile {
        display: none;
    }

    .subtext-mobile {
        display: none;
    }
}

@media only screen and (max-width: 767px){
    /* phones */

    #cover-small {
        display: block;
    }

    #background {
        will-change: transform;
        width: 170%;
        left: -35%;
        top: 1%;
        z-index: -1;
        position: fixed;
        opacity: 0.75;
        /*transition: transform 700ms ease-in-out;*/
        pointer-events: none;
    }
    
    #Bungalo {
        width: 75%;
        padding: 3% 1% 1% 1%;
    }
    
    .social-panel-desktop {
        display: none;
    }

    .social-panel-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 .5em 0;
        /* border: 1px solid #FCA3FC;
        border-radius: 4px; */
    }

    .social-panel-mobile.i {
        display: inline-block;
    }

    .social-icon.fab {
        font-size: 9vw;
        padding: .375em .7em;
    }

    .section {
        padding-bottom: 8%;
    }
    
    .section img {
        width: 15%;
    }

    #spotlight-section {
        text-align: center;
    }
    
    #release-section1 {
        display: inline-block;
        width: 100%;
    }

    .stream-pic {
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        width: 40%;
    }
        
    #cover-small {
        width: 66%;
        padding-bottom:2%;
    }

    #cover {
        width: 100%;
        padding-bottom:2%;
    }

    .header {
        text-align: center;
        font-size: 10vw;
        font-weight: 600;
    }

    .header-mobile {
        text-align: center;
        font-size: 10vw;
        font-weight: 600;
    }

    .header-closer {
        text-align: center;
        font-size: 5vw;
        font-weight: 600;
        padding: 1vw;
    }

    .subtext {
        text-align: center;
        font-size: 2.9vw;
        padding-bottom: 4%;
    }

    .subtext-mobile {
        text-align: center;
        font-size: 2.9vw;
        padding-bottom: 4%;
    }    

    .music-video {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .icon-grid-desktop {
        display: none;
    }

    .icon-flex-desktop {
        display: none;
    }

    .icon-flex-mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .desktop-center-video {
        display: none;
    }
    
    .mobile-center-video {
        position: relative;
        width: 75%;
        height: 0px;
        padding-top: 1%;
        padding-bottom: 42.1875%;
    }

    .stream-icon {
        padding: 8%;
    }

    .fab {
        font-size: 19vw;
    }
    
}